.calcie{
  margin-top: -10px;
  margin-right: -660px;
  margin-bottom: 500px;
  margin-left: 10px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.calculator {
  margin-top: -100px;
  background-color: #444;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
}

#display {
  margin-bottom: 10px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
}

button {
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
